#selfie {
    width: 50%;
}

nav {
    margin: 10px;
    padding-top: 10px;
}

div.gallery {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

div.gallery img {
    width: 100%;
    height: auto;
  }

div.desc {
    text-align: center;
  }

div.desc p {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

footer div {
    position: fixed;
    bottom: 0;
}